body{
    font-family: Arial,sans-serif;
}

nav{
    width:100%;
    height:60px;
    background-color: #344051;
}

.logo{
    color:#fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 390px;
    float: left;
}

.menu{
    float:left;
    padding-left: 432px;
    
    
}

.menu li{
    float:left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width:100%;
    height: 94.5%;
    background: url(../img/photo.png)90% 100%/auto 85% no-repeat,url(../img/back-menu.jpg) center/cover no-repeat;
}

.title__container{
    float:left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}


.title__container>h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container>h4{
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #79818d;
}

.title__container>input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}


/*About*/


.about{
    width: 100%;
    height: 66,66%;
}

.about__title{
    font-size: 23px;
    margin: 111px 0px 34px;
    font-weight: bold;
    text-align: center;
    color: #263244;
    
}
.sep{
    width: 71px;
    border-top: 4px solid #d17700;
    margin: 0px auto 60px;
   
}

.about__photo{
     display: block;
    margin: 0px auto 25px;
    border-radius: 50%;
}

.about__text{
    
    padding: 0px  597px ;
    text-align: left;
    color: #3f495a;
}


.btn{
    height: 35px;
    text-align: center;
    border: 2px solid #6d7682;
    background: url(../img/download.png) 7px 6px/17px 17px  no-repeat;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 13px 0px 34px;
    margin: 40px 875px 100px;
    
    
}


/*SKILLS*/


.skills{
    width: 100%;
    height: 530px;
    background:url(../img/bg-skills.png) center/cover no-repeat;
}


.skills__title{
    padding: 108px 0px 34px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #263244;
}


.skills__blocks{
    display: flex;
    height: 158px;
    padding: 50px 415px 96px;
}
.skills__icon{
    display: block;
    margin:0 auto; 
}

.sep__title{
    font-size: 15px;
    font-weight: bold;
    color:#cf7600;
    text-align: center;
    padding: 37px 0 20px;
}

.sep__text{
    padding:0 42px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}



/*----CASES----*/

.cases{
    width: 100%;
    height: 1055px;
}

.cases__title{
    margin: 105px auto 32px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #263244;
}

.text__cases{
    margin: -20px 0;
    font-size: 12px;
    color: #3f495a;
    font-weight: 300;
    text-align: center;
}

.screen__cases{
    display: block;
    margin: 62px auto 40px;
}

.cases__info{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin:0 auto;
    width: 1170px;
    height: 170px;
}

.cases__client{
    margin-right: 85px;
    width:202px;
    height:45px;
}

.client__title{
    font-size: 18px;
    color: #3f495a;
    padding-bottom: 17px;
    text-align: left;
    font-weight: bold;
}
.client__name{
    font-size: 12px;
    color:#3f495a;
    text-align: left;
    font-weight: bold;
}
.cases__desc{
    width: 860px;
    height: 95px;
}
.desc__title{
    font-size: 17px;
    color: #3f495a;
    padding-bottom: 11px;
    text-align: left;
    font-weight: bold;
}

.desc__text{
    line-height: 18px;
    font-size: 13px;
    color:#3f495a;
    text-align: left;
    font-weight: 500;
}

.cases__website{
    
    margin: -70px 85px 0 0;
    
    width:202px;
    height:45px;
}

.website__title{
    padding-bottom: 18px;
    font-size: 18px;
    color: #3f495a;
    text-align: left;
    font-weight: bold;
}

.website__url{
    font-size: 12px;
    color:#3f495a;
    text-align: left;
    font-weight: 500;
}

.btn__case{
    width: 200px;
    height: 44px;
    text-align: center;
    background-color: #63b5ae;
    border-radius: 6px;
    font-size: 15px;
    color:white;
    font-weight: bold;
    padding: 15px 42px;
    margin: -25px 365px;
}


/*------PRICE--------*/

.price{
    
    width: 100%;
    height: 850px;
    
}


.price__title{
    margin: 77px auto 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 31px;
    font-weight: bold;
    color:#263244;
}

.select__title{
    margin:0 1277px 25px 500px; 
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    color:#263244;
}



select {
  background-color: #eeeeee;
  border: none;
  margin: 0 536px 50px 496px;
  height: 55px; /*58*/
  width: 870px; /*890*/
  font-size: 11px;
  padding: 0 30px 0 24px;
  color: #7d7d7d;
  cursor: pointer;
  
}



.pre__count{
    border-bottom: 2px solid;
    margin: 0 536px 0 495px;
    border-color: #d1d1d1;
}

.count{
    display: flex;
    flex-wrap: wrap;
    width: 890px;
    height: 53px;
    margin:24px 538px 155px 498px;
}

.time{
    line-height: 21px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color:#263244;
}

.time__count{
    padding-left: 815px;
    text-align: right;
    font-size: 21px;
    font-weight: bold;
    color:#263244;
}

.offer{
    line-height: 21px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color:#263244;
}

.offer__count{
    padding-left: 782px;
    text-align: right;
    font-size: 21px;
    font-weight: bold;
    color:#263244;
}


/*----- STATISTIC-----*/


.statistic{
    margin-top: -100px;
    width: 100%;
    height: 499px;
    background: url('../img/bg-stat.png') no-repeat;
}


.stat__title{
     padding: 104px 0px 34px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #323e4f;
}

.stat__blocks{
    display: flex;
    height: 152px;
    padding: 30px 400px 96px 480px;
    
}



.stat__icon{
    display: block;
    margin:0 auto; 
}

.stat__sep__title{
    font-size: 28px;
    font-weight: bold;
    color:#323e4f;
    text-align: center;
    padding: 34px 0 29px;
}

.stat__sep__text{
    padding:0 42px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}




/*----REVIEWS-----*/

.reviews{
    width: 100%;
    height: 500px;
}



.reviews__title{
    margin: 103px auto 34px;
    text-align: center;
    font-size: 23px;
    color: #323e4f;
    font-weight: bold;
}


.author__photo{
    display: block;
    margin: 0px auto 36px; 
    border-radius: 50%;
}

.reviews__text{
    margin:0 618px 35px 618px;
    text-align: center;
    color: #243042;
    font-weight: 500;
}

.author__name{
    display: block;
    text-align: center;
    color: #243042;
    margin-bottom: 50px;
}

.swipe{
    display: flex;
    width: 60px;
    margin:0px auto;
}


/*-------Contacts--------*/


.contacts{
    width: 100%;
    height: 810px;
    background: url('../img/cont-bg.jpg') no-repeat;
}


.contact__title{
    padding: 105px 848px 34px 851px;
    text-align: center;
    color:white;
    font-size: 23px;
    font-weight: bold;
}

.contact__text{
    
    margin:-32px auto 48px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 11px;

}


.contacts__data{
    
    display: flex ;
    margin:0 auto;
    width: 605px;
    
   
}

.address{
    
    padding: 0 13px;
    margin:0 auto;
}

.mail{
    
    padding: 0 13px;
    margin:0 auto;
}
.phone{
    
    padding: 0 13px;
    margin:0 auto;
}
.con__icon{
    display: block;
    margin:0 auto; 
}

.cont__text{
    color: white;
    font-size: 12px; 
    text-align: center;
    padding-top: 15px;
}


.message__me{
    text-align: center;
    color:white;
    text-transform: uppercase;
    padding: 40px 0 47px;
    font-size: 16px;
    font-weight: bold;
}


.input__data{
    
    display: flex ;
    margin:0 auto;
    width: 735px;
}


.textinput1{
    
    width: 353px;
    height: 35px;
	font-size: 14px;
	padding:11px 0 13px 13px;
	background: #d8dbe1;
    opacity: 80%;
    margin:0 30px 15px auto;
}

.textinput2{
    
    width: 353px;
    height: 35px;
	font-size: 14px;
	padding:11px 0 13px 13px;
	background: #d8dbe1;
    opacity: 80%;
}

.input__mes{
    
    display: flex ;
    margin:0 auto;
    width: 735px;
}
.textinput3{
    
    width: 733px;
    height: 94px;
	font-size: 14px; 
	padding-left:13px;
	background: #d8dbe1;
    opacity: 80%;
    box-sizing: border-box;
    
    
}
.textinput3::placeholder{
    transform: translateY(-40px) translateY(50%);
}

.btn__contacts{
    display: block;
    width: 127px;
    height: 47px;
    text-align: center;
    border: 2px solid white;
    background: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin: 27px auto 77px;
}


.social{
   
    display: flex ;
    margin:0 auto;
    width: 400px;
    align-items: center;
    
    
}


.social>a{
    
    margin: 0 25px;
    text-decoration: none;
    
}

.footer{
    
    width: 100%;
    height: 95px;
    background-color: #354051;
}

.footer__copyright{
    line-height: 95px;
    text-align: center;
    color:white;
    font-size: 10px;
}
